<div>
    [<a title="Download slides (pdf)" href="
    {% if include.lecture.slides contains '://' %}
      {{ include.lecture.slides }} 
    {% else %}
      {{ include.lecture.slides | prepend: site.baseurl }} 
    {% endif %}">slides</a>]
    {% if include.lecture.notes %}
    [<a title="Download notes (zip)" href="
    {% if include.lecture.notes contains '://' %}
      {{ include.lecture.notes }} 
    {% else %}
      {{ include.lecture.notes | prepend: site.baseurl }} 
    {% endif %}">notes</a>]
    {% endif %}
    {% if include.lecture.codes %}
    [<a title="Download codes (zip)" href="
    {% if include.lecture.codes contains '://' %}
      {{ include.lecture.codes }} 
    {% else %}
      {{ include.lecture.codes | prepend: site.baseurl }} 
    {% endif %}">codes</a>]
    {% endif %}
    {% if include.lecture.link1 %}
    [<a title="Link1" href="{{ include.lecture.link1 }} ">link1</a>]
    {% endif %}
    {% if include.lecture.link2 %}
    [<a title="Link2" href="{{ include.lecture.link2 }} ">link2</a>]
    {% endif %}
    {% if include.lecture.link3 %}
    [<a title="Link3" href="{{ include.lecture.link3 }} ">link3</a>]
    {% endif %}
    {% if include.lecture.link4 %}
    [<a title="Link4" href="{{ include.lecture.link4 }} ">link4</a>]
    {% endif %}
    {% if include.lecture.link5 %}
    [<a title="Link5" href="{{ include.lecture.link5 }} ">link5</a>]
    {% endif %}
    {% if include.lecture.link6 %}
    [<a title="Link6" href="{{ include.lecture.link6 }} ">link6</a>]
    {% endif %}
    {% if include.lecture.link7 %}
    [<a title="Link7" href="{{ include.lecture.link7 }} ">link7</a>]
    {% endif %}
    {% if include.lecture.link8 %}
    [<a title="Link8" href="{{ include.lecture.link8 }} ">link8</a>]
    {% endif %}
</div>