<div>
    {% if include.lecture.slides %}
    [<a title="Download slides (pdf)" href="
    {% if include.lecture.slides contains '://' %}
      {{ include.lecture.slides }} 
    {% else %}
      {{ include.lecture.slides | prepend: site.baseurl }} 
    {% endif %}">slides</a>]
    {% endif %}
    {% if include.lecture.ext_slides %}
    [<a title="Download external slides (zip)" href="
    {% if include.lecture.ext_slides contains '://' %}
      {{ include.lecture.ext_slides }} 
    {% else %}
      {{ include.lecture.ext_slides | prepend: site.baseurl }} 
    {% endif %}">ext slides</a>]
    {% endif %}
    {% if include.lecture.video %}
    [<a title="Download video (mp4)" href="
    {% if include.lecture.video contains '://' %}
      {{ include.lecture.video }} 
    {% else %}
      {{ include.lecture.video | prepend: site.baseurl }} 
    {% endif %}">video</a>]
    {% endif %}
    {% if include.lecture.codes %}
    [<a title="Download codes (zip)" href="
    {% if include.lecture.codes contains '://' %}
      {{ include.lecture.codes }} 
    {% else %}
      {{ include.lecture.codes | prepend: site.baseurl }} 
    {% endif %}">codes</a>]
    {% endif %}
    {% if include.lecture.data %}
    [<a title="Download data (zip)" href="
    {% if include.lecture.data contains '://' %}
      {{ include.lecture.data }} 
    {% else %}
      {{ include.lecture.data | prepend: site.baseurl }} 
    {% endif %}">data</a>]
    {% endif %}
    {% if include.lecture.link %}
    [<a title="Link" href="{{ include.lecture.link }} ">link</a>]
    {% endif %}
    {% if include.lecture.link1 %}
    [<a title="Link1" href="{{ include.lecture.link1 }} ">link1</a>]
    {% endif %}
    {% if include.lecture.link2 %}
    [<a title="Link2" href="{{ include.lecture.link2 }} ">link2</a>]
    {% endif %}
    {% if include.lecture.link3 %}
    [<a title="Link3" href="{{ include.lecture.link3 }} ">link3</a>]
    {% endif %}
    {% if include.lecture.link4 %}
    [<a title="Link4" href="{{ include.lecture.link4 }} ">link4</a>]
    {% endif %}
    {% if include.lecture.link5 %}
    [<a title="Link5" href="{{ include.lecture.link5 }} ">link5</a>]
    {% endif %}
    {% if include.lecture.link6 %}
    [<a title="Link6" href="{{ include.lecture.link6 }} ">link6</a>]
    {% endif %}
    {% if include.lecture.link7 %}
    [<a title="Link7" href="{{ include.lecture.link7 }} ">link7</a>]
    {% endif %}
    {% if include.lecture.link8 %}
    [<a title="Link8" href="{{ include.lecture.link8 }} ">link8</a>]
    {% endif %}
</div>
